@model FitnessSundhed.Models.Sets

@{
    ViewBag.Title = "EditSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditSet</h2>

@using (Html.BeginForm("UpdateSet", "Workouts", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Sets</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.WorkoutsId)

    <div class="form-group">
        @Html.LabelFor(model => model.SetName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SetName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SetName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SetDesc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SetDesc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SetDesc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="javascript:history.back()">Back to Previous</a>
</div>
